<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$CONTENT_TITLE">커뮤니티 게시판</title>
    <th:block th:replace="~{fragments/head-links :: css}"></th:block>
    <th:block layout:fragment="page-style"></th:block>
</head>
<body>

<nav th:replace="~{fragments/navbar :: navbar(${activeMenu})}"></nav>

<div layout:fragment="content">
    <!-- 각 페이지 본문이 여기에 삽입됩니다 -->
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
<th:block th:replace="~{fragments/scripts :: js}"></th:block>
<th:block layout:fragment="page-script"></th:block>

</body>
</html>
